.type_list_group{
    display: flex;
    width: 400px;
}
.type_list_btn{
    flex: 1;
}
.hide{
    display: none;
}

body{
    width: 400px;
    position: relative;
}
.save_popup{
    display: none;
    position: absolute;
    text-align: center;
    width: calc(100% - 12px);
    margin: 6px;
    top: 25%;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    background-color: #ffe602;
    padding: 100px 0;
    border: 1px solid #ffc402;
    opacity: 0.9;
    color: #fff;
}
.btn_group{
    width: 100%;
    float: left;
}
.btn{
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-right{
    float: right;
}
.btn.active, .btn:hover{
    background-color: coral;
    color: #fff;
}
.divTable { display: table; width: 100%; }
.divTableRow{
    display: table-row;
    border-collapse: collapse
}
.divTableCell { border: 1px solid #999999; display: table-cell; padding: 3px 10px; vertical-align: middle;}
.divTableBody { display: table-row-group; }
textarea{
    width: 100%;
    height: 230px;
}
.title{
    font-size: 15px;
    font-weight: 800;
    text-align: center;
}
input{
    width: 30%;
}
.info{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    background-color: #d8d8d8;
}
p{
    margin-bottom: 5px;
}
.tab_group{
    padding: 5px;
    margin: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: calc(100% - 10px);
}
.id_check{
    border: solid 1px;
    padding: 5px;
    border-radius: 5px;
    color: #ff3b3b;
    font-weight: 800;
}
.id_code{
    border: solid 1px;
    padding: 5px;
    border-radius: 5px;
    color: #f35d0c;
    font-weight: 800;
}